<!DOCTYPE html>
<html lang="en">
<head>
    <title>Automaty komórkowe</title>

    <link rel="stylesheet" href="../lib/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>

    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="../lib/js/jquery-3.4.1.min.js"></script>
    <script src="../lib/js/bootstrap.min.js"></script>         
    <script>if (window.module) module = window.module;</script>
</head>
<body>
    <div class="w-100 pl-3 pr-3">
        <div class="row">

            <div class="col canvas-column">
                <div class="canvas-container w-100 p-4">
                    <canvas id="main-canvas" width="401" height="401"></canvas>
                </div>
            </div>

            <div class="col">
                <div class="inputs-container p-3">
                    Typ sąsiedztwa:
                    <div class="form-check pt-3">
                        <input class="form-check-input" type="radio" name="neighbourhood" id="moore" value="moore">
                        <label class="form-check-label" for="moore">
                            Moore'a
                        </label>
                    </div>
                    <div class="form-check pt-3">
                        <input class="form-check-input" type="radio" name="neighbourhood" id="neumann" value="neumann">
                        <label class="form-check-label" for="neumann">
                            Von Neumanna
                        </label>
                    </div>
                </div>
                <div id="error-message" class="text-danger pt-2 d-none">Wybierz typ sąsiedztwa.</div>
                <div class="pt-3 text-center">   
                    <button onclick="start()">START</button>
                    <button onclick="clearCanvas()">WYCZYŚĆ</button>
                </div>
            </div>
        </div>

    </div>
    <script src="../scripts/main.js"></script>
</body>
</html>